WCFSelfHostedSample/ServiceClient/Connected Services/VariableServiceReference/variable-service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AddinWCFService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AddinWCFService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="VariableData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Identification" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectGuid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimestampMilliseconds" type="xs:short" />
      <xs:element minOccurs="0" name="TimestampSeconds" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="VariableId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VariableData" nillable="true" type="tns:VariableData" />
  <xs:complexType name="ArrayOfVariableData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VariableData" nillable="true" type="tns:VariableData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVariableData" nillable="true" type="tns:ArrayOfVariableData" />
</xs:schema>