WCFSelfHostedSample/ServiceClient/Connected Services/VariableServiceReference/variable-service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Copadata.AddinSamples.WCFSamples" elementFormDefault="qualified" targetNamespace="http://Copadata.AddinSamples.WCFSamples" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/variable-service?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8080/variable-service?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AddinWCFService" />
  <xs:element name="GetListOfVariableIds">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListOfVariableIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetListOfVariableIdsResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVariableData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="variableId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVariableDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AddinWCFService" minOccurs="0" name="GetVariableDataResult" nillable="true" type="q2:VariableData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVariables">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVariablesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AddinWCFService" minOccurs="0" name="GetAllVariablesResult" nillable="true" type="q3:ArrayOfVariableData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>